<div class='sidebar'>
	<div class='sidebar__info'>
		<h1 class='info__hed'>{{{doc.hed}}}</h1>
		<div class='info__text'>
			<p class='text__intro'>{{{doc.intro}}}</p>
			<p class='text__video'><button>@@include('play-circle.svg'){{{doc.video}}}</button></p>
			<p class='text__instruction'>{{{doc.instruction}}}</p>
		</div>
	</div>

	<nav class='sidebar__nav'>
		<p class='nav__title'>{{{doc.sliderTitle}}}</p>
		<div class='nav__slider slider'></div>

		<div class='nav__sort'>
			<p class='nav__title'>{{{doc.sortTitle}}}</p>
			<ul>
				{{#each doc.sort}}
				<li><button data-value='{{value}}'>{{text}}</button></li>
				{{/each}}
			</ul>
		</div>

		<div class='nav__filter-party'>
			<p class='nav__title'>{{{doc.filterPartyTitle}}}</p>
			<ul>
				{{#each doc.filterParty}}
				<li><button data-value='{{value}}'>{{text}}</button></li>
				{{/each}}
			</ul>
		</div>

		<div class='nav__filter-issues'>
			<p class='nav__title'>{{{doc.filterIssuesTitle}}}</p>
			<ul>
				{{#each doc.filterIssues}}
				<li><button data-value='{{value}}'>{{text}}</button></li>
				{{/each}}
			</ul>
		</div>

	</nav>

	<button class='btn--about'><span>@@include('info.svg')</span>About this project</button>

	<p class='sidebar__credit'>
		By <a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a> &amp; <a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a> in collaboration with the <a href='https://npg.si.edu/home/national-portrait-gallery' target='_blank'>National
			Portrait Gallery</a>.
	</p>
</div>

<button class='sidebar__toggle'>
	<span class='is-visible'>@@include('chevrons-left.svg')</span>
	<span>@@include('chevrons-right.svg')</span>
</button>

<div class='sidebar__fade'>
	<div class='fade'></div>
</div>